frontend/node_modules
frontend/public/hot
frontend/public/storage
frontend/storage/*.key
frontend/vendor
frontend/.env
frontend/.env.backup
frontend/.phpunit.result.cache
frontend/docker-compose.override.yml
frontend/Homestead.json
frontend/Homestead.yaml
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.idea
frontend/.vscode

backend/node_modules
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.env
backend/.env.backup
backend/.phpunit.result.cache
backend/docker-compose.override.yml
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/.idea
backend/.vscode

BelajarMVC/node_modules
BelajarMVC/public/hot
BelajarMVC/public/storage
BelajarMVC/storage/*.key
BelajarMVC/vendor
BelajarMVC/.env
BelajarMVC/.env.backup
BelajarMVC/.phpunit.result.cache
BelajarMVC/docker-compose.override.yml
BelajarMVC/Homestead.json
BelajarMVC/Homestead.yaml
BelajarMVC/npm-debug.log
BelajarMVC/yarn-error.log
BelajarMVC/.idea
BelajarMVC/.vscode

FirstProject/node_modules
FirstProject/public/hot
FirstProject/public/storage
FirstProject/storage/*.key
FirstProject/vendor
FirstProject/.env
FirstProject/.env.backup
FirstProject/.phpunit.result.cache
FirstProject/docker-compose.override.yml
FirstProject/Homestead.json
FirstProject/Homestead.yaml
FirstProject/npm-debug.log
FirstProject/yarn-error.log
FirstProject/.idea
FirstProject/.vscode